GEORLI_RPC_URL=https://GEORLI.infura.io/v3/
GEORLI_CHAIN_ID=5
GEORLI_EXPLORER_URL=https://GEORLI.etherscan.io

GEORLI_DEPLOYER_PRIVATE_KEY=
GEORLI_DEPLOYER_ADDRESS=
GEORLI_VRF_COORDINATOR=0x2Ca8E0C643bDe4C2E08ab1fA0da3401AdAD7734D
GEORLI_LINK_KEY_HASH=0x79d3d8832d904592c0bf9818b621522c988bb8b0c05cdc3b15aea1b6e8db0c15
